<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/oliver-moran/jimp@v0.2.27/browser/lib/jimp.min.js"></script>
  <script src='../scripts/script.js'></script>
  <title>Certificate Generator</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Certificate Generator
      </a>
    </div>
  </nav>

  <div class="container">

    
  </div>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    </div>
  </div>

  <div class="container">



    <form enctype="multipart/form-data">
      <input id="upload" type=file  name="files[]">
  </form>

      <div id="table-area">
        
      </div>

      <textarea class="form-control" rows=35 cols=120 id="xlx_json">

        
      </textarea>
  
      <script>
          document.getElementById('upload').addEventListener('change', handleFileSelect, false);
  
      </script>
  </div>


  <div class="container">
    <div id="output">

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
</body>
</html>